{% extends 'port_app/main.html'  %}

{% block content %}
{% load static %}
<h1>Cages</h1>
<div >
    <img class="product-images" src="{% static 'port_app/images/cages/screenshot_cheatsheet.png' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/cages/fake_terminal.png' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/cages/linux_patching_training_screenshot.jpg' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/cages/video_player_screenshot.png' %}" alt="">

</div>

{% endblock %}