{% extends 'port_app/main.html'  %}

{% block content %}
{% load static %}

<h1>PHP Motors</h1>
<div >
    <img class="product-images" src="{% static 'port_app/images/phpmotors/addVehicle.PNG' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/phpmotors/admin.PNG' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/phpmotors/lambo.PNG' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/phpmotors/nav.PNG' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/phpmotors/phpmyadmin.PNG' %}" alt="">
    <img class="product-images" src="{% static 'port_app/images/phpmotors/updateAccount.PNG' %}" alt="">

</div>






{% endblock %}