{% extends 'port_app/main.html'  %}

{% block content %}
{% load static %}
<h1>Purple</h1>
<div >
    <img class="product-images" src="{% static 'port_app/images/purple/store.png' %}" alt="Purple Store"><br>
    <img class="product-images-tall" src="{% static 'port_app/images/purple/addCatView.png' %}" alt="Add Category view">
    <img class="product-images-tall" src="{% static 'port_app/images/purple/AddInventoryView.png' %}" alt="Add inventory view">
    <img class="product-images-tall" src="{% static 'port_app/images/purple/mainView.png' %}" alt="main view">
    <img class="product-images-tall" src="{% static 'port_app/images/purple/uploadDriveView.png' %}" alt="upload to drive view">
    <img class="product-images-tall" src="{% static 'port_app/images/purple/reportView.png' %}" alt="Report View">

</div>





{% endblock %}