{% load static %}
<div class="row ind-project">
    <div class="col">

    </div>
    <div class="col-12 col-md-9 col-lg-11">
        <div class="card">
            <img class="d-lg-none card-img-top" src="{% static 'port_app/images/cages/screenshot_cheatsheet.png' %}"
                alt="Card image cap">
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="d-none d-lg-block col-md-8 col-lg-5">
                        <img class="port-image" src="{% static 'port_app/images/cages/screenshot_cheatsheet.png' %}"
                            alt="">
                    </div>
                    <div class=" col-lg-4 col-md-6 ">
                        <h5 class="card-title">C.A.G.E.S</h5>
                        <p class="card-text lead"> SYS-admin training software for air-gapped labs.
                        </p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">More Info</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-github" aria-hidden="true"></i> Github</button>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-3 ">
                        <p class=card-text>Technologies used:
                        <ul class="list-group ">
                            <li class="list-group-item"><i class='fab fa-python' style='font-size:24px'></i> Python</li>
                            <li class="list-group-item">Flask</li>
                            <li class="list-group-item">Bootstrap</li>


                            
                            <br>
                            <small class="text-muted">2021</small>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>