{% load static %}
<div class="row ind-project">
    <div class="col">

    </div>
    <div class="col-12 col-md-9 col-lg-11">
        <div class="card">
            <img class="d-lg-none card-img-top" src="../../static/port_app/images/pigs.PNG" alt="Card image cap">
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="d-none d-lg-block col-md-8 col-lg-5">
                        <img class="port-image" src="{% static 'port_app/images/pigs.PNG' %}" alt="">
                    </div>
                    <div class=" col-lg-4 col-md-6 ">
                        <h5 class="card-title">Trackmy.farm</h5>
                        <p class="card-text lead"> Pig estrus tracking application.
                        </p>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary " target="_blank"
                            href="https://cs341-pig-ovulation.herokuapp.com/">Visit App </a>
                        <a class="btn btn-sm btn-outline-secondary " target="_blank"
                            href="https://github.com/DerrikMilligan/cs341-pig-ovulation"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                        <a class="btn btn-sm btn-outline-secondary " target="_blank"
                            href="{% url 'trackFarm' %}">More Info </a>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-3 ">
                        <p class=card-text>Technologies used:
                        <ul class="list-group ">
                            <li class="list-group-item"><i class='fab fa-node' style='font-size:24px'></i> Node.js</li>
                            <li class="list-group-item"> MongoDB</li>
                            <li class="list-group-item"> Svelte</li>
                            <li class="list-group-item"> Bootstrap</li>
                   
                            <br>
                            <small class="text-muted">Fall 2021</small>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>