{% load static %}
<div class="row">
    <div class="col">

    </div>
    <div class="col-12 col-md-9 col-lg-11">
        <div class="card">
            <img class="d-lg-none card-img-top" src="{% static 'port_app/images/portfolio_card_img.png' %}"
                alt="Card image cap">
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="d-none d-lg-block col-md-8 col-lg-5">
                        <img class="port-image" src="{% static 'port_app/images/portfolio_card_img.png' %}"
                            alt="">
                    </div>
                    <div class=" col-lg-4 col-md-6 ">
                        <p class="h5">MesquiteRoot.com</p>
                        <p class="card-text lead">My personal portfolio website</p>
                        
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary " target="_blank"
                                href="https://github.com/browner86/portfolio"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                            <!-- <a class="btn btn-sm btn-outline-secondary " target="_blank" href="{% url 'phpmotors' %}">More                                Info </a> -->
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-3 ">
                        <p class=card-text>Technologies used:
                        <ul class="list-group ">
                            <li class="list-group-item"><i class='fab fa-python' style='font-size:24px'></i> Python</li>
                            <li class="list-group-item">Django</li>


                            <br>
                            <small class="text-muted">Fall 2021</small>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>