{% load static %}
<div class="row ind-project">
    <div class="col">

    </div>
    <div class="col-12 col-md-9 col-lg-11">
        <div class="card">
            <img class="d-lg-none card-img-top" src="{% static 'port_app/images/Write_cropped.png' %}"
                alt="Card image cap">
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="d-none d-lg-block col-md-8 col-lg-5">
                        <img class="port-image" src="{% static 'port_app/images/Write_cropped.png' %}" alt="">

                    </div>
                    <div class=" col-lg-4 col-md-6 ">
                        <p class="h5">Always THEREapy</p>
                        <p class="card-text lead">Mobile Thereapy app</p>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-secondary " target="_blank"
                                href="https://browner86.github.io/webFrontend2/thereapy/home.html">Visit App </a>
                            <a class="btn btn-sm btn-outline-secondary " target="_blank"
                                href="https://github.com/browner86/webFrontend2/tree/main/thereapy"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
                            <a class="btn btn-sm btn-outline-secondary " target="_blank"
                                href="{% url 'thereapy' %}">More Info </a>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-3 ">
                        <p class=card-text>Technologies used:
                        <ul class="list-group ">
                            <li class="list-group-item"><i class='fab fa-js-square' style='font-size:24px'></i> JavaScript</li>
                            <li class="list-group-item">Bootstrap</li>


                            <br>
                            <small class="text-muted">Fall 2021</small>
                    </div>
                </div>



            </div>
        </div>
    </div>

</div>