{% extends 'port_app/main.html'  %}

{% load static %}
{% block content %}


<div class="row"><img class="bio-img" src="{% static 'images/ultra_wide_bio.png' %}" alt="Brian Image">
</div>
<div class="row">
    <div class="col">
        <img class="bio-logo" src="{% static 'images/MesquiteRootLogo-01.png' %}" alt="">
    </div>
    <div class="col mt-4 p-5 bg-white rounded">
        <h1>Brian Brown</h1>
        <p>Full Stack Developer with Extensive business experience.</p>
        <hr>
        <p>In December of 2018, I returned to school to prepare for a career change,<br>
            In February of 2021, I took the leap.</p>
        <hr>
        <div>
            <h5>Self Employed / Full Time Student</h5>
            <h6>Mesquite Root Development</h6>
            <div class="text-muted">February 2021 - Present</div>
            <p>Developed software projects for business solutions.</p>
            <ul>
                <li>
                    Developed a Prototype for SYS-Admin training for Air Gapped Labs to be pitched to Raytheon.
                </li>
                <li>
                    Started building AlwaysTHEREapy.com, a Content delivery application for a local therapist.
                </li>
                <li>
                    Completed the Last fourteen credits of Bachelor's Degree in Applied Technology from Brigham Young University Idaho.
                </li>
            </ul>
        </div>
        <div>
            <h5>Branch Manager </h5>
            <h6>Bulwark Exterminating </h6>
           
            <div class="text-muted">
                <span>Greenville South Carolina</span><br>
                <span>November 2014 - February 2021<span></div>
                
            <p>Expanded Business into the Greenville South Carolina Market.</p>
            <ul>
                <li>
                    Opened a new branch of the company and grew it to over 1500 customers and over $45,000 in monthly revenue.
                </li>
                <li>
                   Managed up to 5 technicians at a time. Soley Responsible for their hiring, training, and quality control. Tracked performance metrics to ensure productivity.
                </li>
                <li>
                    Personally Sold over 150 accounts with a yearly value of between $400 and $2500 each.
                </li>
                <li>
                    Worked with product suppliers to insure adequate inventory for the branch.
                </li>
            </ul>
        </div>
        <div>
            <h5>Service Manager </h5>
            <h6>Bulwark Exterminating </h6>

            <div class="text-muted">
                <span>Mesa Arizona</span><br>
                <span>June 2008 - November 2014 <span></div>
            </div>
            <p>Managed technicians and customer service representatives</p>
            <ul>
                <li>
                    Resolved customer cancelation calls and other concerns over the phone and in person.
                </li>
                <li>
                   In field training for 20+ technicians.  
                </li>
              
            </ul>
        </div>



    </div>
</div>
<!-- <img class="bio-img" src="{% static 'images/ultra_wide_bio.png' %}" alt="Brian Image"> -->



{% endblock %}
 
    